/*
-----------------------------------------------------------
 The code below has been sourced from https: //cssload.net/

 This generates the loading bar which is seen on the menu screen while JSON 
 loads in the background.
-----------------------------------------------------------
*/

/*the id of the div which will hold this loading bar and setting its size*/
#toolbar-loading {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 80%;
}

/*assigning the animation to the class of loading-bar*/
.loading-bar {
    display: flex;
    flex-direction: row;
    background-color: rgba(109, 104, 104, 0.42);
    width: 10%;
    height: 100%;
    animation-name: bounce_loading;
    animation-duration: 1.165s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.3);
    border-radius: 50px;
}

/*bars/balls 1 -> 8 in the loading animation the delay from one to the next
means they are not all the same size at the same time, thus creating a waving
effect*/
#loading_1 {
    display: flex;
    animation-delay: 0.466s;
}

#loading_2 {
    display: flex;
    animation-delay: 0.5825s;
}

#loading_3 {
    display: flex;
    animation-delay: 0.699s;
}

#loading_4 {
    display: flex;
    animation-delay: 0.8155s;
}

#loading_5 {
    display: flex;
    animation-delay: 0.932s;
}

#loading_6 {
    display: flex;
    animation-delay: 1.0485s;
}

#loading_7 {
    display: flex;
    animation-delay: 1.165s;
}

#loading_8 {
    display: flex;
    animation-delay: 1.2915s;
}

/*at 0%, is at its full scale, and has a green colour. Then at 100% animation,
it is white and smaller. So the animation of each bar foes from big green to
small white and it chooses a wide ranging colour spectrum in between*/
@keyframes bounce_loading {
    0% {
        transform: scale(1);
        background-color: rgb(16, 97, 25);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(255, 255, 255);
    }
}