/*Not visible*/
.modal-window {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80vh;
    background-color: rgba(37, 37, 37, 0.3);
}

/*Modal styling*/
.modal-content {
    display: flex;
    background-color: #3d9970;
    border-radius: 2rem;
    margin: auto;
    border: 3px solid #073b24;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/*Styling of buttons container in the modal*/
#button-choices {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-bottom: 5%;
}

/*Styling of the individual buttons in the modal*/
.modal-buttons {
    height: 4rem;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5%;
    background-color: #3d9970;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 4px 2px white;
    text-shadow: 2px 2px 4px #000000;
    transition: all 0.8s ease;
    border-radius: 1rem;
    border: 3px solid white;

}