* {
    /* Stop border issues with overlapping */
    /* max-width: 1440px; */
    box-sizing: border-box;
    /* margin-right: auto; */
    /* display: flex; */
}

/*Header Styling for the logo */
header {
    display: flex;
    /* flex-direction: row; */
    max-width: 750px;
    height: auto;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    /* background: url('../images/header-logo.webp') no-repeat center center; */
    padding: 0.3rem 0;
}

header>img {
    /* max-width: 750px; */
    display: flex;
    width: 100%;
    /* height: auto; */
    /* padding: 0.2rem 3rem; */
}

/* Little to no body styling, as it occurs in the game-container and beyond */

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    flex-wrap: nowrap;
}

/* footer styling */
footer {
    /* max-width: 1440px; */
    width: 100%;
    height: 10vh;
    background-color: #3d9970;
    border: 2px solid black;
}

#hypermarket-cheap {
    max-width: 1440px;
    max-height: 80vh;
    min-height: 80vh;
    /* box-sizing: border-box; */
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* margin-top: 0; */
    /* height: auto; */
    width: 100%;
    flex-direction: column;
    display: flex;
}

#loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 37, 37, 0.3);
    width: 100%;
    height: auto;
}

/* Styling for the toolbar in the game, contains the basket button */
.the-toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1440px;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 0; */
    justify-content: flex-end;
    background-color: #3d9970;
    border: 2px solid black;
    padding: 12px 20px;
    align-items: center;
    box-shadow: 1px 1px 3px 0px rgba(57, 61, 63, 0.8);
}

/*
#basket-return {
    background-color: black;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    justify-content: flex-start;
}*/

/* Class for game container, holds menu, about and the game. This container
   needs to be 4px taller than "the-shop" and "the-items" to allow for the
   scrollbar to not overlap the border. */
.game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 4rem);
    background: none;
    /* max-width: 1440px; */
    max-height: calc(100% - 4rem);
    /* margin-left: auto; */
    /* margin-right: auto; */
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#game-menu {
    justify-content: center;
}

#basket-screen {
    background-color: black;
    font-family: 'Courier Prime', monospace;
    font-size: 2rem;
}

#the-basket {
    border-right: 2px solid white;
}

.return-to-shop-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 2px solid white;
}

.basket-split {
    display: flex;
    /* max-height: inherit; */
    height: calc(100% - 3.3rem);
    flex-direction: row;
    width: inherit;
}

.basket-aisle-title {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    color: #3d9970;
    border-bottom: 2px dashed white;
    font-size: 3rem;
}

/* styling for the buttons on the main menu */
.menu-button {
    width: 250px;
    height: 100px;
    font-family: "Wallpoet", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 16px;
    margin: 2rem auto;
    cursor: pointer;
}

/* container for the game below the toolbar */
.the-shop {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: inherit; */
    /* overflow-y: scroll; */
    /* max-height: inherit; */
    height: 100%;
}

/* container for the items which are available */
.the-items {
    display: flex;
    flex-direction: column;
    width: 80%;
    /* height: auto; */
    /* max-height: inherit; */
    border-right: 2px solid black;
    padding: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.the-receipt {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    background-color: black;

}

.the-receipt-header {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 2px dashed white;
    padding: 1rem;
}

.basket-receipt-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Courier Prime', monospace;
    font-size: 0.7rem;
    padding: 0 0.5rem;
}

.total-line {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
}

/* container to hold the aisle options */
.the-aisles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    background-color: black;
    border-left: 2px solid black;
    padding: 1px;
    height: auto;
}

/* styling for the button which has each aisle option */
.aisle-button {
    height: 4rem;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.1rem auto;
    background-color: #3d9970;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 4px 2px #073b24 inset;
    text-shadow: 0px 1px 5px #000000;
    transition: all 0.3s ease;
    border-radius: 1rem;
}

/* when hovering over an aisle option, accent it for clarity */
.aisle-button:hover {
    box-shadow: 0 0 4px 100px #2500cac4 inset;
}

.aisle-button-active {
    color: black;
    box-shadow: 0 0 4px 100px cyan inset;
}

/* styling for the container which has each item in the shop, which has the 
item name, the stock and a button to add it to your basket */
.item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border: 2px solid black;
    box-shadow: 0 0 4px 2px black;
    background-color: black;
    justify-content: space-between;
    margin: 1rem 0 0rem 0rem;
    padding: 0.5rem;
}

.basket-item-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* border: 2px solid white; */
    /* box-shadow: 0 0 4px 2px white; */
    background-color: black;
    align-items: center;
    /* margin: 0.5rem 0; */
    /* padding: 0.3rem; */
}

/* for the img element which will hold the image of the item in the shop */
.item-container-img {
    width: 10%;
    height: auto;
    border: 2px solid white;
    box-shadow: 0 0 4px 2px white;
}

.basket-item-container-img {
    width: 10%;
    height: auto;
    border: 2px solid white;
    box-shadow: 0 0 4px 2px white;
    margin: 0.5rem;
}

/* for the text container part of the aisle item div (name and stock to be 
stacked vertically)*/
.item-container-p-div {
    display: flex;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
}

.basket-item-container-quantity-div {
    font-family: 'Courier Prime', monospace;
    /* font-size: 2rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15%;
    /* height: 3%; */
    padding: 0.5rem;
    /* text-align: center; */
    align-items: center;
}

.price-div {
    width: 30%;
}

/*styling for the text inside the aisle item (text styling of name and stock */
.item-container-text {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    margin: auto auto auto 1rem;
    font-weight: bold;
}

.basket-item-container-text {
    display: flex;
    font-family: 'Courier Prime', monospace;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    font-weight: bold;
    justify-content: center;
    /* padding: 0.2rem 0.2rem; */
    /* padding-left: 0.7rem; */
    margin: 0;
}

.basket-price-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

/*style to add the strikethrough when a price is on a special offer, this 
strikethrough will be applied to the RRP.*/
.strikethrough-text {
    color: red;
    text-decoration: line-through red 1px;
}

/*Colour assignment for stock text, can also be used elsewhere when declared
in this way */
.negative-text {
    color: red;
}

.positive-text {
    color: lightgreen;
}


/* styling for the + button inside the aisle item */
.item-container-button {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 20px;
    background: none;
    border: 3px solid white;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    font-size: 400%;
    margin: auto 1rem;
    transition: all 0.7s ease;
}

.basket-item-quantity-button {
    height: 2rem;
    display: flex;
    width: 2rem;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: 3px solid white;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    font-size: 1.3rem;
    /* font-weight: bold; */
    /* margin: auto 1rem; */
    /* padding-bottom: 1.2rem; */
    transition: all 0.7s ease;
    /* align-items: baseline; */
    justify-content: space-evenly;
    margin: 5px;
}

.basket-item-quantity-button-blank {
    height: 2rem;
    display: flex;
    width: 2rem;
    border-radius: 10px;
    cursor: default;
    background: none;
    border: 3px solid none;
    color: black;
    font-size: 1.3rem;
    justify-content: space-evenly;
    margin: 5px;
}

#return-to-shop-button,
#checkout-button {
    display: flex;
    cursor: pointer;
    font-family: 'Courier Prime', monospace;
    border-radius: 1rem;
    height: 2.2rem;
    background: none;
    border: 3px solid white;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    font-size: 1.4rem;
    transition: all 0.7s ease;
    align-items: center;
}


/* styling for any basket button and quantity text */
.toolbar-items {
    background: none;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    border: none;
    outline: none;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
}

#wallet-icon::after {
    content: attr(wallet-count);
    margin-left: 0.5rem;
    margin-right: 3rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0px 1px 5px #000000;
    font-weight: bold;
}

#basket-button {
    cursor: pointer;
    text-shadow: 0px 1px 5px #000000;
}

/* when hovering over the buttons, accent them for clarity */
#basket-button:hover {
    transition: 0.5s;
    color: cyan;
}

#return-to-shop-button:hover,
#checkout-button:hover {
    transition: 0.5s;
    color: #3d9970;
    border-color: #3d9970;
}

.item-container-button:hover {
    /*transition: 0.5s;*/
    color: black;
    /*background-color: #3d9970;*/
    box-shadow: 0 0 4px 100px lightgreen inset;
}

/* Footer styling */
/*Full page width, fixed 100px height (height matches header). Flex row display
with centred content and the background colour in line with the theme top shadow 
to help content pop*/
footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3d9970;
    box-shadow: 0px -3px 1px 0px rgba(57, 61, 63, 0.8);
}

/* social-networks ul css set the text to be centre aligned in a flex row 
with centred items*/
ul.social-networks {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/*Each list item of the social networks unorganised list carries the flex 
display has padding (from top and bottom of social networks class, which is the
height of the footer*/
.social-networks>li {
    display: flex;
    padding: 25px;
}

/*styling for the font awesome "i" tags, setting text field size, font colour
line height to create a centring effect*/
.social-networks i {
    font-size: 200%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: white;
    text-shadow: 0px 1px 5px black;
}

/*When hovering the social media icons, turn them the light blue which is part
of the theme.*/
.social-networks i:hover {
    color: cyan;
}